.elements {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #000000;

    height: 250px;
    overflow-y: auto;
}

.message {
    color: white;
}